# Exemple documentaire : remplacer les valeurs entre chevrons avant utilisation.
server.host: "192.168.56.10"
logging:
  appenders:
    file:
      type: file
      fileName: /var/log/kibana/kibana.log
      layout:
        type: json
  root:
    appenders:
      - default
      - file
pid.file: /run/kibana/kibana.pid
elasticsearch.hosts: ["https://10.0.2.15:9200"]
elasticsearch.serviceAccountToken: "<TOKEN_SERVICE_KIBANA>"
# Chemin généré dans le laboratoire ; adapter au certificat de la nouvelle installation.
elasticsearch.ssl.certificateAuthorities: ["/var/lib/kibana/ca_1789606946272.crt"]
xpack.encryptedSavedObjects.encryptionKey: "<CLE_ALEATOIRE_AU_MOINS_32_CARACTERES>"
